<html>

<head>
  <title>ASL Video Stream</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <h1>ASL Live Stream</h1>
  <img src="/video_feed" width="640" height="480" />
  <button id="send_button">Send</button>

  <p>Text: <span id="response">{{ text }}</span></p>

  <script>
    $(document).ready(function () {
      $('#send_button').click(function () {
        $.ajax({
          url: '/submit_button',
          type: 'POST',
          success: function (response) {
            $('#response').text(response.text);
          }
        });
      });
    });
  </script>

</body>

</html>